<div>

num = 0.0.to_f.round(2)
num += 0.1
(num * 10).to_i.to_s
<p>0000 hrs: <%= @hour_count["00"] %></p>
<p>0100 hrs: <%= @hour_count["01"] %></p>
<p>0200 hrs: <%= @hour_count["02"] %></p>
<p>0300 hrs: <%= @hour_count["03"] %></p>
<p>0400 hrs: <%= @hour_count["04"] %></p>
<p>0500 hrs: <%= @hour_count["05"] %></p>
<p>0600 hrs: <%= @hour_count["06"] %></p>
<p>0700 hrs: <%= @hour_count["07"] %></p>
<p>0800 hrs: <%= @hour_count["08"] %></p>
<p>0900 hrs: <%= @hour_count["09"] %></p>
<p>1000 hrs: <%= @hour_count["10"] %></p>
<p>1100 hrs: <%= @hour_count["11"] %></p>
<p>1200 hrs: <%= @hour_count["12"] %></p>
<p>1300 hrs: <%= @hour_count["13"] %></p>
<p>1400 hrs: <%= @hour_count["14"] %></p>
<p>1500 hrs: <%= @hour_count["15"] %></p>
<p>1600 hrs: <%= @hour_count["16"] %></p>
<p>1700 hrs: <%= @hour_count["17"] %></p>
<p>1800 hrs: <%= @hour_count["18"] %></p>
<p>1900 hrs: <%= @hour_count["19"] %></p>
<p>2000 hrs: <%= @hour_count["20"] %></p>
<p>2100 hrs: <%= @hour_count["21"] %></p>
<p>2200 hrs: <%= @hour_count["22"] %></p>
<p>2300 hrs: <%= @hour_count["23"] %></p>
<p>2400 hrs: <%= @hour_count["24"] %></p>
</div>
